[xbl.io]
base_uri = https://xbl.io/api/v2/
apikey = APIKEY

[general]
group = group1
message = "The message"

[group1]
gamertag[] = gamertag_1
gamertag[] = gamertag_N

[group2]
gamertag[] = gamertag_2
gamertag[] = gamertag_M
